BraveSoftware/
discord/
Discord/
Electron/
.mozilla/
kdeconnect/
kiorc
knfshare
krusaderrc
kwalletrc
menus/
obs-studio/
partitionmanagerrc
welcome.conf
systemd/
unity3d/
user-dirs.dirs
user-diers.locale
GitHub Desktop/
audacity/
mimeapps.list
dconf/
pulse/
procps/
qimgv/
session/
xsettingsd/
yay/
dolphinrc
baloofileinformationrc
QtProject.conf
spotify/
trashrc
user-dirs.locale
filetypesrc
knfsshare
EOS-greeter.conf
vlc/
